@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-darkGreen: #3E3F3E;
  --color-primary-lightGreen: #B3FF94;
  --color-primary-green: #193018;
  --color-primary-timber: #3E3F3E;
  --color-primary-white: #FFFFFF;
  --color-primary-frost: #DDE4C3;
  --color-primary-smoke: #0E0F0E;
  --color-primary-gray: #1A1A1A;
  --color-primary-lightGray: #3E3F3E;
  
  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clip-card {
  clip-path: polygon(0% 6%, 6% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-container {
  clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 94% 100%, 0% 100%);
}